.feature-container{
    display: flex;
    /* flex-direction: column; */
    gap:3rem;
    margin: 10px 0;
}
.bottom-part{
    display: flex;

}
.bottom-part__left{
    flex: 1;
    margin-right: 5px;
}
.bottom-part__right{
    flex:2;
}