.right-side__container{
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 0 15px -10px gray;
}
.righ-side__wraper{

}
.right-side__title{
    text-transform: capitalize;

}
.right-side__info{

}
.right-side__table{
    width: 100%;
    margin-top: 10px;

}
.row-header{
    
    margin-bottom: 15px;
}
.col-header{
    text-align: left;
    
}

.row-detail{

}
.col__customer{
    display: flex;
    align-items: center;
    

}
.customer-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;

}
.custome-name{

}
.date{

}
.amount{

}
.status{

}
.btn{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;

}
.btn.Approved{
   background-color: rgb(158, 217, 192);
   color: white;

}
.btn.Decline{
    background-color: rgb(211, 86, 211);
   color: white;

}
.btn.Pending{
    background-color: rgb(139, 150, 235);
   color: white;

}

.table__bt{

}