.products{
    flex: 4;
    padding: 15px;

}
.container-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-title{

}
.product-btn{
    border: none;
    cursor: pointer;
    background-color: teal;
    color: #fff;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;

}
.product-btn:hover{
    opacity: .8;
}
.product-top{
    display: flex;
    align-items: center;
}
.product-top__left{
  flex: 2;
}
.product-top__right{
    flex: 1;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, .75);
    padding: 20px;
    margin: 15px;
    
}
.product-info__top{

}
.product-info__top img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
.roduct-info__bottom{
    margin-top: 15px;
}

.productInfo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 15px;
}
.productInfo-key{
    font-weight: 700;
}
.productInfo-value{
    font-weight: 300;
}

.product-bottom{
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, .75);
}

.productForm{
    display: flex;
    justify-content: space-between;
}
.productForm-left,.productForm-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productForm-left>label{
    margin-bottom: 10px;
    color: gray;
}
.productForm-left>input{
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
}

.productForm-left>input:focus{
    outline: none;
}

.productForm-left>select{
    margin-bottom: 10px;
}
.product-uploder__image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}
.product-uploader{
    display: flex;
    align-items: center;
}
.product-button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: darkblue;
    font-weight: 600;
    cursor: pointer;
}